
.curseclient
/.physics_mod_cache/
/crash-reports/
/lightspeed-cache/
/modernfix/
/saves/
/screenshots/
/shaderpacks/
/logs/
/fancymenu_data/
/minecraftinstance.json
/.qmenu_opened.marker
/o_prof
/options.txt
/usercache.json
/usernamecache.json
/knownkeys.txt
